.pagination p {
    color: var(--color-text);
    font-size: 24px;
    text-transform: uppercase;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* desktop layout */
@media (min-width: 1026px) {
    .pagination {
        justify-content: center;
    }

    .pagination p {
        margin: 0 16px;
    }
}
