.loginForm {
    display: flex;
    flex-direction: column;
}

.groupField label,
.loginForm a {
    font-size: 14px;
    margin-bottom: 16px;
    padding-right: 20%;
}

.groupField label {
    color: var(--grey-dark-1);
}

.loginForm a {
    color: var(--color-link);
}

.groupField {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    position: relative;
}

.groupField input {
    height: 53px;
    border-radius: 8px;
    background-color: var(--grey-light);
    outline: none;
    border: 1px solid #C0C0C0;
    font-size: 18px;
    color: var(--grey-dark-1);
    padding: 0 16px;
}

.buttonSubmit {
    height: 53px;
    border-radius: 8px;
    border: none;
    background-color: var(--color-success);
    color: var(--color-white);
    font-size: 24px;
    font-weight: 200;
    margin: 16px 0;
}

.buttonSubmit svg {
   margin-right: 16px;
}

.inputError {
    position: absolute;
    top: 85%;
    /* bottom: 0px; */
    right: 6px;
    padding: 4px;
    background: rgb(232, 69, 69, 0.5);
    border-radius: 4px;
    color: white;
}

