.buttonAction {
    display: flex;
    background-color: var(--color-white);
    padding: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 70px;
    height: 67px;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    transition: all 0.1s;
}

.buttonHome:hover {
    border: 2px solid var(--color-secondary);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
}

.buttonMenuMobile {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    justify-content: left;
    width: 32px;
    height: 33px;
}

.buttonProfile {
    border: 0.5px solid #e0e0e0;
    background-color: transparent;
    width: 38px;
    height: 38px;
}

.buttonArrow {
    background-color: transparent;
    box-shadow: none;
    padding: 0;
    justify-content: left;
    width: 32px;
    height: 33px;
}
