/* ========= Fonts ========= */
@font-face {
    font-family: "Heebo";
    font-weight: 300;
    font-size: normal;
    src: local("Heebo") url(./fonts/Heebo-Light.ttf) format("opentype");
}
@font-face {
    font-family: "Heebo";
    font-weight: 400;
    font-size: normal;
    src: local("Heebo") url(./fonts/Heebo-Regular.ttf) format("opentype");
}
@font-face {
    font-family: "Heebo";
    font-weight: 500;
    font-size: normal;
    src: local("Heebo") url(./fonts/Heebo-Medium.ttf) format("opentype");
}
@font-face {
    font-family: "Heebo";
    font-weight: 600;
    font-size: normal;
    src: local("Heebo") url(./fonts/Heebo-SemiBold.ttf) format("opentype");
}
@font-face {
    font-family: "Heebo";
    font-weight: 600;
    font-size: normal;
    src: local("Heebo") url(./fonts/Heebo-Bold.ttf) format("opentype");
}
/* ========= Fonts ========= */

:root {
    --color-primary: #a9077d;
    --color-primary-dark: #ea9634;
    --color-secondary: #f52a8e;

    --color-background: #f5f5f5;
    --color-success: #91e043;
    --color-danger: #ee6767;
    --color-success-dark: #38d12a;
    --color-danger-dark: #e84545;

    --color-input: rgba(233, 231, 229, 0.35);
    --color-text: #9c9595;

    --color-blue-light: #7ed0fe;
    --color-blue-dark: #5d5fef;

    --color-link: #3b3c90;

    --grey-dark-1: #333333;
    --grey-light: #e9e7e5;
    --color-white: #ffffff;

    --color-text: #9c9595;
}

/* ========= BASE CSS ======= */
* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Heebo", sans-serif;
    line-height: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 16px;
}
